:root {
  --primary: rgb(240, 196, 0);
  --primary-010: rgb(180, 147, 0);

  --white: #fff;

  --gray: #9b9ba0;

  --black: #10101a;
  --black-010: #2a2a30;

  --red: #c90025;
  --red-010: #a3001e;
}
